@import '../../../styles/variables.scss';

.button {
    background-color: $color-primary;
    color: $color-light;
    border: none;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 1rem;
    transition: $transition-background;
    cursor: pointer;

    &:hover {
        background-color: $color-secondary;
    }

    &:disabled {
        background-color: lighten($color-primary, 20%);
        cursor: not-allowed;
    }
}